@tailwind base;
@tailwind components;
@tailwind utilities;

/* dm-sans-regular - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/dm-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/dm-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/dm-sans-v6-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/dm-sans-v6-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/dm-sans-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/dm-sans-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-sans-v6-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-sans-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/dm-sans-v6-latin-500.svg#DMSans') format('svg'); /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/dm-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/dm-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/dm-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/dm-sans-v6-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
}

.padding {
  padding: 25px;
}

.skew {
  display: none;
}

.skewed-top-right .skew-top.mr-for-radius {
  display: block;
}

.skewed-top-left .skew-top.ml-for-radius {
  display: block;
}

.skewed-bottom-right .skew-bottom.mr-for-radius {
  display: block;
}

.skewed-bottom-left .skew-bottom.ml-for-radius {
  display: block;
}

.skewed-top-right .radius-for-skewed {
  border-top-right-radius: 6rem;
}

.skewed-top-left .radius-for-skewed {
  border-top-left-radius: 6rem;
}

.skewed-bottom-right .radius-for-skewed {
  border-bottom-right-radius: 6rem;
}

.skewed-bottom-left .radius-for-skewed {
  border-bottom-left-radius: 6rem;
}
